<!DOCTYPE html>
<html>
<head>
  <title>Number Guesser</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color: rgb(255, <%= "#{session[:bg_color]}" %>, 255)" >
  <%= yield %>
</body>
</html>